$(document).on('turbolinks:load', function() {
  $( ".draggable" ).draggable({
    revert: "invalid",
    cursor: 'move',
    stack: "div",
    helper: 'clone',
    zIndex: 100
  });
    $( ".droppable" ).droppable({
      drop: function( event, ui ) {
        $( this )
            .find('ul')
              .append( '<li class="collection-item">'+ ui.draggable.text()  +'</li>' );
              console.log(this);

      }
    });
});
