$(document).on('turbolinks:load', function() {
  $( ".draggable" ).draggable({
    revert: "invalid",
    cursor: 'move',
    stack: "div",
    helper: 'clone',
    zIndex: 100,
    scroll: true
  });

  $( ".droppable" ).droppable({
    drop: function( event, ui ) {
      $( this )
          .find('ul')
          .append( '<li class="collection-item">'+ ui.draggable.text()  +'</li>' );
      return $.post('/groups/' + this.id + '/students/' + ui.draggable.data('id') + '/update');
    }
  });

    $( ".removestudent" ).draggable({
      revert: "invalid",
      cursor: 'move',
      stack: "div",
      zIndex: 100,
      scroll: true,
      stop: function( event, ui ) {
        $( this );
        return $.post('/groups/' + $(this).parents('.group').data('id') + '/students/' + this.id + '/remove');
        $(this).remove()
    }

    });

});
