@import "materialize/components/color";
@import "tiy";
$primary-color: color("shield-grey", "base") !default;
$secondary-color: color("code-blue", "base") !default;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import 'materialize';


.ui-state-highlight{
  background-color: lightgrey !important;
}
